/* SIGNUP PAGE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html, body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}
.image-section {
    width: 50%;
    background: url('/images/register\ 1.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.form-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-family: 'Quicksand', sans-serif;
    
}
.form-container {
    max-width: 400px;
    width: 100%;
}
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.logo img {
    width: 80px;
    height: 80px;
}
h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}
.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;;
}
.google-btn img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    
}
.google-btn:hover{
    background-color: #0d1b2a;
    color: white;

}
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}
.divider::before {
    margin-right: .25em;
}
.divider::after {
    margin-left: .25em;
}
.form-group {
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.password-group {
    position: relative;
}
.password-group i {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #0d1b2a;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 500;
    transition:  background-color 0.3s ease, color 0.3s ease; /* Menambahkan transisi untuk background-color dan color */
    ;
}
.submit-btn:hover{
    background-color: white;
    color: black;
}
.login-link {
    text-align: center;
    margin-top: 20px;
}
.login-link a {
    color: #0d1b2a;
    text-decoration: none;
    font-weight: 500;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.social-icons a {
    color: #0d1b2a;
    margin: 0 10px;
    font-size: 20px;
    margin: 0 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.social-icons a:hover {
    
}
