* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body, html {
     margin: 0;
     padding: 0;
     font-family: 'Quicksand', sans-serif;
     display: flex;
     height: 100vh;
     width: 100vw;
}
.container {
    display: flex;
    width: 100%;
}
.left {
    width: 50%;
    margin: 100px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.right {
    width: 50%;
    background: url('images/register\ 1.png') no-repeat center center;
    background-size: cover;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    align-items: center;
}
.right img {
    width: 100%;
    height: auto;
}
.logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.logo img {
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

h2 {
    font-family: "Quicksand", serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}
h2 span {
    margin-left: 10px;
}
p {
    color: #9e9e9e;
    margin: 10px 0 30px;
}
label {
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}
input[type="text"], input[type="password"] {
    font-family: "Quicksand", serif;
    width: 100%;  /* Membuat lebar input 50% dari form */
    padding: 15px;
    margin-right: 20px; /* Menambahkan ruang antar input */
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    flex-direction: column;

}
.form-group {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;  /* Menyusun input dan tombol dalam satu baris */
    margin-bottom: 20px;
}
.password-group {
    position: relative;
}

.password-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.checkbox-container input {
    margin-right: 10px;
}
.checkbox-container label {
    color: #9e9e9e;
}
.btn {
    font-family: "Quicksand", serif;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btn:hover {
    background-color: white;
    color: black;
}
.btn-primary {
    background-color: #70B9BE;
    color: white;
    margin-bottom: 20px;
}
.btn-google {
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-google i {
    margin-right: 10px;
}
.divider {
    display: flex;
    align-items: center;
    justify-content: center; /* Pastikan garis berada di tengah */
    width: 100%;  /* Pastikan lebar elemen cukup untuk menampilkan garis */
    text-align: center;
    margin: 20px 0;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #ccc;
}

.divider::before {
    margin-right: .25em;  /* Pastikan jarak antara garis dan teks simetris */
}

.divider::after {
    margin-left: .25em;  /* Pastikan jarak antara garis dan teks simetris */
}
.register {
    margin-top: 10px;
    text-align: center;
    color: #9e9e9e;
}
.register a {
    color: #00bfa6;
    text-decoration: none;
}